<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Ator/Atriz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="ator; else loading">
  <div class="heroi-ator">
    <img
      [src]="'https://image.tmdb.org/t/p/w500' + ator.profile_path"
      alt="{{ ator.name }}"
      class="imagem-ator"
      *ngIf="ator.profile_path; else noProfileImage"
    />

    <ng-template #noProfileImage>
      <div class="imagem-ator no-profile">
        <div class="no-profile-icon"></div>
      </div>
    </ng-template>

    <h1 class="nome-ator">{{ ator.name }}</h1>
  </div>

  <div class="secao-filmes">
    <h2 class="titulo-secao">Filmografia</h2>

    <div
      class="grade-filmes"
      *ngIf="filmes && filmes.length > 0; else noMovies"
    >
      <ion-card
        *ngFor="let filme of filmes; trackBy: trackByIdFilme"
        class="cartao-filme"
        appDestacar
      >
        <img
          [src]="'https://image.tmdb.org/t/p/w400' + filme.poster_path"
          alt="{{ filme.title }}"
          class="poster-filme"
          *ngIf="filme.poster_path; else noPoster"
        />

        <ng-template #noPoster>
          <div class="poster-filme no-poster">
            <div class="no-poster-icon"></div>
          </div>
        </ng-template>

        <div class="info-filme">
          <h3 class="titulo-filme">{{ filme.title | truncar:20 }}</h3>
          <p class="ano-filme" *ngIf="filme.release_date">
            {{ filme.release_date | date:'yyyy' }}
          </p>
          <p class="ano-filme" *ngIf="!filme.release_date">
            Data não disponível
          </p>
        </div>
      </ion-card>
    </div>

    <ng-template #noMovies>
      <div class="sem-filmes">
        <div class="sem-filmes-icon"></div>
        <h3 class="sem-filmes-titulo">Nenhum filme encontrado</h3>
        <p class="sem-filmes-texto">
          Não há filmes disponíveis para este ator no momento.
        </p>
      </div>
    </ng-template>
  </div>
</ion-content>

<ng-template #loading>
  <div class="loading-container">
    <ion-spinner name="crescent" class="loading-spinner"></ion-spinner>
    <p class="loading-text">Carregando detalhes do ator...</p>
  </div>
</ng-template>
